<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.S001.mapper.DepartmentMapper">
    <select id="getDepartment" resultType="com.example.S001.entity.Department">
        SELECT
            DEPARTMENT_ID,
            DEPARTMENT_NAME
         FROM
            sampledb.departmentmaster
    </select>
</mapper>