<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
  <head>
    <title th:text="${title}">title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  </head>
  <body th:object="${form}">
    <p>問題登録画面</p>
    <ul>
        <li th:each="msgvalue : ${msg}">
            <span th:text="${msgvalue}">message</span>
        </li>
    </ul>
    <form th:action="@{/AddQuestion}" method="post">
		<p>
			<select id="qualification" name="qualification" onchange="qualificationChange()" ></select>
			<select id="varsion" name="varsion"></select>
		</p>
        <p>問題文</p>
	    <p><textarea style="width:800px;height:200px;" wrap="hard" class="QuestionForm" th:field="*{question}"
	     th:classappend="${#fields.hasErrors('question')}?'is-invalid'"></textarea>
		</p>
       	<p th:if="${#fields.hasErrors('question')}" th:errors="*{question}" />

       	<p th:if="${#fields.hasErrors('answer')}" th:errors="*{answer}" />
        <p>
        	ａ<input type="radio" name="answer" value="a" th:field="*{answer}"/>
        	<input  type="text" size="100" name="answerList1" th:field="*{answerList1}"></p>
       	<p th:if="${#fields.hasErrors('answerList1')}" th:errors="*{answerList1}" />
        <p>
        	ｂ<input type="radio" name="answer" value="b"/>
        	<input  type="text" size="100" name="answerList2" th:field="*{answerList2}"></p>
       	<p th:if="${#fields.hasErrors('answerList2')}" th:errors="*{answerList2}" />
        <p>
        	ｃ<input type="radio" name="answer" value="c"/>
        	<input  type="text" size="100" name="answerList3" th:field="*{answerList3}"></p>
	       	<p th:if="${#fields.hasErrors('answerList3')}" th:errors="*{answerList3}" />
        <p>
        	ｄ<input type="radio" name="answer" value="d"/>
        	<input  type="text" size="100" name="answerList4" th:field="*{answerList4}"></p>
	       	<p th:if="${#fields.hasErrors('answerList4')}" th:errors="*{answerList4}" />
        <p>解説</p>
        <textarea style="width:800px;height:200px;"class="QuestionForm" name="comment" th:field="*{comment}"></textarea>
        <p>
        	<input type="submit" name="back" value="戻る"/>
        	<input type="submit" name="entry" value="登録"/>
        </p>
        <input type="hidden" id="qualificationList" th:field="*{qualificationListJson}" >
    </form>
    <form role="form" id="logout" th:action="@{/logout}" method="post">
    	<button type="submit">ログアウト</button>
	</form>

  </body>

<script type="text/javascript" src="./User.js" ></script>

</html>