<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="${title}">title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  </head>
  <body th:object="${form}">
    <p>問題登録画面</p>
    <form th:action="@{/AddQuestion}" method="post">
		<p>
			<select id="qualification" onchange="qualificationChange()" ></select>
			<select id="varsion"></select>
		</p>
        <p>問題文</p>
        <input  type="text" style="width:800px;height:200px;"class="QuestionForm" name="question">
        <p>
        	ａ<input type="radio" name="anserList" value="1"/>
        	<input  type="text" size="100" name="anserList1">
        </p>
        <p>
        	ｂ<input type="radio" name="anserList" value="2"/>
        	<input  type="text" size="100" name="anserList2">
        </p>
        <p>
        	ｃ<input type="radio" name="anserList" value="3"/>
        	<input  type="text" size="100" name="anserList3">
        </p>
        <p>
        	ｄ<input type="radio" name="anserList" value="4"/>
        	<input  type="text" size="100" name="anserList4">
        </p>
        <p>解説</p>
        <input  type="text" style="width:800px;height:200px;"class="QuestionForm" name="comment">
        <p>
        	<input type="submit" name="back" value="戻る"/>
        	<input type="submit" name="entry" value="登録"/>
        </p>
        <input type="hidden" id="qualificationList" th:value="*{qualificationListJson}" >
    </form>
  </body>

<script th:inline="javascript">
//初期画面表示時に起動
//資格の重複を削除
$(document).ready(function() {

	let obj = document.getElementById("qualificationList").value;
	parseobj = JSON.parse(obj);
	var array =["---"];
	for (var item in parseobj) {
		if (array.indexOf(parseobj[item]['qualification']) >= 0){
		}else{
			array.push(parseobj[item]['qualification']);
		}
	}
	 for(var i=0;i<array.length;i++){
		let op = document.createElement("option");
		op.text = array[i];
		document.getElementById("qualification").appendChild(op);
	 }
})

//資格を選択したときに、資格に合わせたVersion選択を作成
function qualificationChange(){
	let obj = document.getElementById("qualificationList").value;
	parseobj = JSON.parse(obj);
	let qualification = document.getElementById("qualification").value
	var array =[];
	array.push("---");
	console.log(array);
	for (var item in parseobj) {
		if (parseobj[item]['qualification'] == qualification){
			array.push(parseobj[item]['varsion']);
		}
	}
	//selectの初期化
	var list = document.getElementById("varsion");
	for( i = list.length -1; i >= 0; i-- ) {
		list.remove(i);
	}
	//selectに再設定
	for(var i=0;i<array.length;i++){
		let op = document.createElement("option");
		op.text = array[i];
		document.getElementById("varsion").appendChild(op);
	}
}
</script>

</html>