<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="${title}">title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>User検索</p>
    <form action="/user/search" method="post">
        <label>ID:<input class="input" type="text" name="id"></label><br>
        <div><input class="search" type="submit" value="検索"/></div>
    </form>
    <form action="/user/search" method="post">
        <div><input class="list" type="submit" name="showList" value="一覧表示"/></div>
    </form>

    <div th:if="${account} !=null" th:object="${account}">
        <table>
            <tr>
                <th>ID</th>
                <th>名前</th>
            </tr>
            <tr>
                <td th:text="*{employeeNumber}">id</td>
                <td th:text="*{name}">名前</td>
            </tr>
        </table>
    </div>

        <div th:if="${accountList} !=null">
        <table>
            <tr>
                <th>ID</th>
                <th>名前</th>
            </tr>
            <tr th:each="account:${accountList}" th:object="${accountList}">
                <td th:text="${account.employeeNumber}">id</td>
                <td th:text="${account.name}">名前</td>
            </tr>
        </table>
    </div>
  </body>
    <script type="text/javascript" th:inline="javascript">
    $(document).ready(function() {
    /*<![CDATA[*/
		var myname = /*[[${account.name}]]*/";"
		alert(myname);
	/*]]>*/
    });
	</script>

</html>