<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="${title}">title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  </head>
  <body th:object="${userForm}">
    <p>ユーザ登録</p>
    <ul>
        <li th:each="msgvalue : ${msg}">
            <span th:text="${msgvalue}">Error message</span>
        </li>
    </ul>
    <form th:action="@{/AdminUser/Top}" method="post">
        <div>
        	<label>社員番号:<input  type="text" name="employeeNumber" th:field="*{employeeNumber}" ></label><br>
        	<span th:if="${#fields.hasErrors('employeeNumber')}" th:errors="*{employeeNumber}"></span>
        </div>

        <div>
        	<label>名前:<input type="text" name="name" th:field="*{name}"> </label><br>
        	<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>

        <div>
        	<label>パスワード:<input type="password" name="password" th:field="*{password}"> </label><br>
        	<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" ></span>
        </div>

        <div>
        	<label>パスワード(確認用):<input type="password" name="passwordChk" th:field="*{passwordChk}"> </label><br>
        	<span th:if="${#fields.hasErrors('passwordChk')}" th:errors="*{passwordChk}" ></span>
		</div>

		<div>
			<select name="departmentId" >
	        	 <option  th:each="department:*{departmentList}"
	            	 th:text="${department.departmentName}"
	             	th:value="${department.departmentId}" th:field="*{departmentId}">
			</select>
		</div>
    <div><input type="submit" name="userAddSub" value="登録"/></div>
    </form>

  </body>

</html>